
/* Utilizing SMACSS principles */

/* Layout rules */

.layout-container {
  display: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #c1bebe;
  width: 85%;
  margin: 0 auto;
  box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.5);
}

.layout-section-Content {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
