
/**** Utilizing SMACSS principles ****/

/**** State rules ****/

.container-display-flex {
  display: flex;
}

.header-margin-collapse {
  margin-top: 25px;
}

/*.container-display-none {
  display: none;
}*/
